<!--div class="container">
    <legend>Create Subscription</legend>
    <form>
      <div class="mb-3">
        <label for="txtExperation" class="form-label">Experation</label>
        <input type="date" name="experation" [(ngModel)] = "subscriptionForm.experation" class="form-control" id="txtExperation" />
      </div>
      <div class="mb-3">
        <label for="txtAmount" class="form-label">Amount</label>
        <input type="number" step="0.01" name="amount" [(ngModel)] = "subscriptionForm.amount" class="form-control" id="txtAmount" />
      </div>
      <div class="mb-3">
        <label for="txtPayment" class="form-label">Payment</label>
        <input type="string" name="payment" [(ngModel)] = "subscriptionForm.payment" class="form-control" id="txtPayment" />
      </div>
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
  </!--div-->


  <br><br><br>
  <form #editForm="ngForm" (ngSubmit)="save()">
  
   

    <mat-form-field class="example-full-width">
      <mat-label>Enter the experation date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Enter the experation date" [(ngModel)]="experation" id="experation" name="experation">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput type="number" step="0.01" placeholder="Enter the amount" [(ngModel)]="subscriptionForm.amount" id="amount" name="amount">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Enter the payment mode" [(ngModel)]="subscriptionForm.payment" id="payment" name="payment">
    </mat-form-field>
  
  
    <div class="button-row" role="group">
      <button type="submit" mat-raised-button color="primary" >Create</button>
      <button type="button" mat-button color="accent" routerLink="/subscriptions/home" >Cancel</button>
    </div>
  </form>