<div class="container">
    <legend>Edit Speciality</legend>
    <form>
      <div class="mb-2">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="name" [(ngModel)] = "specialityForm.name" class="form-control" id="txtName" />
      </div>
      <div class="mb-2">
        <label for="txtDescription" class="form-label">Description</label>
        <input type="text" name="description" [(ngModel)] = "specialityForm.description" class="form-control" id="txtDescription" />
      </div>
      <button type="button" (click)="update()" class="btn btn-primary">Edit</button>
    </form>
  </div>